<nav class="navbar navbar-expand-md navbar-dark bg-dark pl-4">
  <div class="container-fluid">
    <a
      class="navbar-brand badge bg-primary text-wrap fs-3"
      style="width: 9rem"
      href=""
      >MedY</a
    >
    <div class="collapse navbar-collapse" id="main_menu">
      <ul class="navbar-nav ms-auto font-monospace">
        <li class="nav-item">
          <a class="nav-link" routerLink="medicines">MEDICINE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="phermacueticals">PHARMACUETICALS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="drugclasses" href="">DRAGCLASSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="brands">BRANDS</a>
        </li>
        <li class="nav-item"><a class="nav-link">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="p-4 m-4">
  <form action="" class="d-flex">
    <input type="Search" placeholder="Search" class="form-control me-2" />
    <button class="btn btn-danger">Search</button>
  </form>
</div>
